<!DOCTYPE html>
<html>
    <head>
        <title>
            My First Website On 5117
        </title>
        <meta charset="UTF-8">
        <link href="../static/css/style.css" type="text/css" rel="stylesheet">
        <script src="../static/js/main.js" defer></script>
    </head>
    <body>
        <h1>Mario Kart Fanpage</h1>
        <img height="auto" width=1000px src="../static/img/MarioKart.jpg" alt="MK2">
        <h2>
            Authors
        </h2>
        <ul>
            <li>{{user}}</li>
        </ul>
        
        <h2>
            Guests
        </h2>
        <button type="button" class="logInButton">Log In</button>
        <ul id="guestList">
            <li>John Cullom</li>
        </ul>

        <h2>What's your favorite part of Mario Kart?</h2>
        <textarea id="textBox" name="textBox" rows="4" cols="50"></textarea>
        <button class="textBoxButton"type="button">Submit</button>
        <ul id="guestResponses">

        </ul>
    </body>
</html>